<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center">
<canvas id="gameMap" width="500" height="500" tabindex="0" style="border:1px solid #000000;">
</canvas>
</body>
<script type="text/javascript" th:inline="javascript">
    var snakeId = [[${snakeId}]];
    var gameMap = document.getElementById("gameMap");

    var websocket = null;

    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://localhost:8080/snake");
    } else {
        alert('您的浏览器不支持WebSocket，无法开始游戏')
    }

    websocket.onerror = function () {
        alert("连接发生异常");
    };

    websocket.onopen = function (event) {
        console.log("连接成功");
    };

    websocket.onclose = function () {
        console.log("连接关闭");
    };

    window.onbeforeunload = function () {
        websocket.close();
    };

    websocket.onmessage = function (message) {
        var ctx = gameMap.getContext("2d");
        ctx.clearRect(0, 0, 500, 500);
        var mapStatus = JSON.parse(message.data);
        for (var i = 0; i < mapStatus.length; i++) {
            for (var j = 0; j < mapStatus[i].length; j++) {
                if (mapStatus[i][j] === 2) {
                    ctx.fillStyle = "#FF0000";
                    ctx.fillRect(j * 5, i * 5, 5, 5);
                } else if (mapStatus[i][j] === 1) {
                    ctx.fillStyle = "#0000FF";
                    ctx.fillRect(j * 5, i * 5, 5, 5);
                }
            }
        }
    };

    function send(message) {
        websocket.send(message);
    }

    gameMap.addEventListener('keydown', doKeyDown, true);
    gameMap.focus();

    function doKeyDown(e) {
        var keyID = e.keyCode ? e.keyCode : e.which;
        var message = {"snakeId": snakeId, "action": keyID};
        send(JSON.stringify(message));
    }
</script>
</html>